{{ question.question_text }}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="answer_a" value="A">
            <label class="form-check-label" for="answer_a">
                {{question.answer_a}}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="answer_b" value="B">
            <label class="form-check-label" for="answer_b">
                {{question.answer_b}}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="answer_c" value="C">
            <label class="form-check-label" for="answer_c">
                {{question.answer_c}}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="answer_d" value="D">
            <label class="form-check-label" for="answer_d">
                {{question.answer_d}}
            </label>
          </div>