<div class="container">
    <div class="row" style="margin-bottom: 50px; text-align: center">
        <h3>{{ question.question_text }} </h3>
    </div>

    <div class="row" style="margin-bottom: 20px;">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="answer_a" value="A">
                <label class="form-check-label" for="answer_a"> <h2>A</h2>
                </label> 
                    <div class="row">
                        <img alt="" src="{{ question.answer_a }}" style="width: 200px; height: 200px; ">
                    </div>
                
            </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">     
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="answer_b" value="B">
                <label class="form-check-label" for="answer_b"><h2>B</h2>
                </label>    
                    <div class="row">
                        <img alt="" src="{{ question.answer_b }}" style="width: 200px; height: 200px; ">
                    </div>

        </div>
    </div>             
    <div class="row" style="margin-bottom: 20px;">     
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="answer_c" value="C">
                <label class="form-check-label" for="answer_c"><h2>C</h2>
                </label>
                    <div class="row">
                        <img alt="" src="{{ question.answer_c }}" style="width: 200px; height: 200px; ">
                    </div>
                
        </div>
    </div> 
    <div class="row" style="margin-bottom: 20px;">     
        <div class="form-check">
            <input class="form-check-input" type="radio" name="answer" id="answer_d" value="D">
                <label class="form-check-label" for="answer_d"><h2>D</h2>
                </label>    
                    <div class="row">
                        <img alt="" src="{{ question.answer_d }}" style="width: 200px; height: 200px; ">
                    </div>
                
        </div>
    </div> 
</div> 