{% extends "includes/main.html" %}
{% block title %}
    Главная страница
{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col" style="text-align: center; margin-bottom: 200px">
            <h1>"Тест из {{ questions_count }} вопросов"</h1> 
        </div>       
    </div>

    <div class="row">
        <div class="col" style="text-align: center;">
            <a href="{% url 'quiz' quiz_id question_id prew_question_id %}" style="color: rgb(90, 89, 89); ">
                <img src="{% static '/start.png' %}" class="img" alt="start" style="width: 200px; height: 200px;">
            </a>  
        </div>
    </div>

</div>

{% endblock %}
